<div id="<%= dom_id article %>" class="article-preview">
  <p><strong>Título:</strong> <%= article.title %></p>
  <p><strong>Subtítulo:</strong> <%= article.body %></p>
  <p><strong>Usuário:</strong> <%= article.user_id %></p>
</div>
